name: PR

on:
  pull_request:
    types: [opened, reopened, synchronize]

jobs:
  soundness:
    name: Soundness
    uses: swiftlang/github-workflows/.github/workflows/soundness.yml@main
    with:
      license_header_check_project_name: "SwiftCrypto"
      docs_check_enabled: false

  unit-tests:
    name: Unit tests
    uses: apple/swift-nio/.github/workflows/unit_tests.yml@main
    with:
      linux_5_10_arguments_override: "--explicit-target-dependency-import-check error"
      linux_6_0_arguments_override: "--explicit-target-dependency-import-check error"
      linux_6_1_arguments_override: "--explicit-target-dependency-import-check error"
      linux_nightly_next_arguments_override: "--explicit-target-dependency-import-check error"
      linux_nightly_main_arguments_override: "--explicit-target-dependency-import-check error"
      windows_6_0_enabled: true
      windows_6_1_enabled: true
      windows_nightly_next_enabled: true
      windows_nightly_main_enabled: true
      windows_6_0_arguments_override: "--explicit-target-dependency-import-check error"
      windows_6_1_arguments_override: "--explicit-target-dependency-import-check error"
      windows_nightly_next_arguments_override: "--explicit-target-dependency-import-check error"
      windows_nightly_main_arguments_override: "--explicit-target-dependency-import-check error"

  release-builds:
    name: Release builds
    uses: apple/swift-nio/.github/workflows/release_builds.yml@main
    with:
      windows_6_0_enabled: true
      windows_6_1_enabled: true
      windows_nightly_next_enabled: true
      windows_nightly_main_enabled: true

  cxx-interop:
    name: Cxx interop
    uses: apple/swift-nio/.github/workflows/cxx_interop.yml@main

  cmake-checks:
    name: CMake checks
    uses: apple/swift-nio/.github/workflows/cmake_tests.yml@main
    with:
      update_cmake_lists_config: >-
        {
          "targets": [
            { "name": "CCryptoBoringSSL", "type": "source", "exceptions": [] },
            { "name": "CCryptoBoringSSLShims", "type": "source", "exceptions": [] },
            { "name": "CryptoBoringWrapper", "type": "source", "exceptions": [] },
            { "name": "Crypto", "type": "source", "exceptions": [] },
            { "name": "_CryptoExtras", "type": "source", "exceptions": [] },
            { "name": "CCryptoBoringSSL", "type": "assembly", "exceptions": [ "*/AES/*.swift" ] }
          ]
        }

  macos-tests:
    name: macOS tests
    uses: apple/swift-nio/.github/workflows/macos_tests.yml@main
    with:
      runner_pool: general
      build_scheme: swift-crypto-Package

  static-sdk:
    name: Static SDK
    uses: apple/swift-nio/.github/workflows/static_sdk.yml@main
